#submit-box {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .98;
    z-index: 1;
}
#route-details {
    position: absolute;
    background-color: white;
    margin: 10px;
    padding: 10px;
    top: 0;
    right: 0;
    opacity: .98;
    z-index: 1;
}
#submit-form {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.under-construction {
    width: 100%;
    --yellow: 255, 215, 0;
    background: rgba(var(--yellow), 0.4);
    position: absolute;
    z-index: 2;
}
.off {
    display: none;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}
